body{
    background-color: gray;
}
#header{
    width: 100%;
    height: auto;
    background-color: deepskyblue;
}
#left{
    float: left;
    width: 20%;
    height: 1000px;
    margin: 1%;
    background-color: white;
    overflow:auto;
}
#right{
    float: right;
    width: 75%;
    height: 1000px;
    margin: 1%;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    overflow:auto;
}
#titleList>li{
    font-size: 30px;
    margin: 20px;
    background-color: #66FFCC;
}
#title{
    text-align: center;
    font-size: 50px;
    float: left;
    width: 70%
}
#edit{
    float: right;
    font-size: 20px;
    width: 20%;
    display: none;
}
#edit>a{
    margin: 5px;
}
#createMessage{
    margin-top: 20px;
    margin-bottom: 20px;
}
#creator{
    float: left;
    font-size: 35px;
    font-style: italic;
    color: #66CCFF;
    text-align: left;
}
#createTime{
    float: right;
    font-size: 35px;
    font-style: italic;
    color: #66CCFF;
    text-align: right;
}
#content{
    font-size: 20px;
}