#upload {
    border: 1px solid red;
    margin: auto;
}
#show {
    border: 1px solid green;
}
td {
    align-content: center;
}
#list {
    float: left;
    width: 25%;
    margin: 1%;
    background-color: white;
}
#image {
    float: right;
    width: 70%;
    margin: 1%;
    background-color: white;
}
div {
    overflow:auto;
}
#list>li{
    margin: 20px;
    background-color: #66CCFF;
}