<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/node_modules/jquery/dist/jquery.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript" charset="UTF-8"></script>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" charset="UTF-8"/>
    <script src="/public/js/additionMsg_main.js" type="text/javascript" charset="UTF-8"></script>
    <link href="/public/css/additionMsg_main.css" rel="stylesheet" charset="UTF-8"/>
    <title>上传图片/增加随笔类型</title>
</head>
<body>
    <div id="main">
        <div id="title"><p>上传图片/增加随笔类型页面</p></div>
        <div class="form_container">
            <div class="title">上传图片区 (<a href="/allImages" target="_blank">查看全部图片</a>)</div>
            <div class="form_controls">
                <form action="/addImages" id="ImageForm" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="typename">选择要上传的图片: </label>
                        <input type="file" multiple="true" class="form-control" id="images" name="images" aria-describedby="images" />
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isPassword">
                        <label class="form-check-label" for="isPassword">是否需要密码</label>
                    </div>
                    <div class="form-group">
                        <input type="password" disabled="disabled" name="password" class="form-control" id="password" placeholder="请输入密码"/>
                    </div>
                    <div class="form-group">
                        <label for="key">令牌Key: </label>
                        <input type="text" class="form-control" name="key" id="key_1" aria-describedby="key" placeholder="请输入令牌Key"/>
                    </div>
                    <div class="form-group">
                        <label for="value">令牌Value: </label>
                        <input type="password" class="form-control" name="value" id="value_1" placeholder="请输入令牌Value"/>
                    </div>
                    <div class="btnArea">
                        <button type="button" id="imageSubmit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="form_container">
            <div class="title">增加随笔类型区 (<a href="/allTypes" target="_blank">查看所有随笔类型</a>)</div>
            <div class="form_controls">
                <div class="form-group">
                    <label for="typename">随笔类型名称: </label>
                    <input type="text" class="form-control" id="typename" aria-describedby="typename" placeholder="请输入随笔类型名称"/>
                </div>
                <div class="form-group">
                    <label for="introduction">随笔类型简介: </label>
                    <textarea class="form-control" id="introduction" placeholder="请输入简介"></textarea>
                </div>
                <div class="form-group">
                    <label for="key">令牌Key: </label>
                    <input type="text" class="form-control" id="key_2" aria-describedby="key" placeholder="请输入令牌Key"/>
                </div>
                <div class="form-group">
                    <label for="value">令牌Value: </label>
                    <input type="password" class="form-control" id="value_2" placeholder="请输入令牌Value"/>
                </div>
                <div class="btnArea">
                    <button type="button" id="typeSubmit" class="btn btn-primary">增加</button>
                </div>
            </div>
        </div>
        <div class="clean"></div>
    </div>
</body>
</html>