<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>随笔</title>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript" charset="UTF-8"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="/public/js/essay.js"></script>
    <link rel="stylesheet" href="/public/css/essay.css">
</head>
<body>
    <div id="app" class="container">
        <div id="top">
            <div id="title"><h1>{{ essay.title }}</h1></div>
            <div id="update">
                <div><button type="button" @click="handleUpdate($event, '{{ essay.id }}', {{ essay.password === 'true' ? true : false }})" class="btn btn-primary">更新</button></div>
                <div><button type="button" @click="handleDelete($event, '{{ essay.id }}')" class="btn btn-primary">删除</button></div>
            </div>
            <div class="clean"></div>
        </div>
        <div id="info">
            <div id="msg">
                <div class="sub-msg">随笔类型:&nbsp;<span v-html="getType('{{ essay.typeid }}')"></span></div>
                <div class="sub-msg">作者: {{ essay.creator }}</div>
                <div class="clean"></div>
            </div>
            <div id="date">
                <div class="sub-date">创作时间: {{ essay.createTime }}</div>
                <div class="sub-date">最后更新时间: {{ essay.updateTime }}</div>
                <div class="clean"></div>
            </div>
        </div>
        <div id="main">
            {{ essay.content }}
        </div>
        <div id="footer"><a target="_blank" href="/comment?essayId={{ essay.id }}">查看评论</a></div>

        <!-- 删除时, 需要输入信息的对话框 -->
        <div class="modal fade" id="Token" tabindex="-1" role="dialog" aria-labelledby="Token">  
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h4 class="modal-title">请输入Key和Value</h4>  
                    </div>  
                    <div class="modal-body">
                        <input type="text" required="required" class="form-control" v-model="key" placeholder="请输入TokenKey">
                        <input type="password" @keydown.enter="handleSureKV($event)" required="required" class="form-control" v-model="value" placeholder="请输入TokenValue">
                    </div>  
                    <div class="modal-footer">
                        <button type="button" @click="handleSureKV($event)" class="btn btn-primary">确认</button>  
                    </div> 
                </div>  
            </div>  
        </div>
        <!-- 更新时, 需要输入信息的对话框 -->
        <div class="modal fade" id="Password" tabindex="-1" role="dialog" aria-labelledby="Password">  
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h4 class="modal-title">请输入该随笔的密码</h4>  
                    </div>  
                    <div class="modal-body">
                        <input type="password" @keydown.enter="handleSurePwd($event)" required="required" class="form-control" v-model="password" placeholder="请输入密码">
                    </div>  
                    <div class="modal-footer">
                        <button type="button" @click="handleSurePwd($event)" class="btn btn-primary">确认</button>  
                    </div> 
                </div>  
            </div>  
        </div>
    </div>
</body>
</html>