<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>随笔列表</title>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/public/js/essaylist.js"></script>
    <link rel="stylesheet" href="/public/css/essaylist.css">
</head>
<body>
    <div id="app" class="container">
        <div class="modal fade" id="DIV" tabindex="-1" role="dialog" aria-labelledby="Token">  
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h4 class="modal-title">请输入指定信息</h4> 
                    </div>  
                    <div class="modal-body">
                        <div v-if="isAdd"><input type="text" class="form-control" v-model="name" placeholder="请输入标签名"></div>
                        <input type="text" class="form-control" v-model="key" placeholder="请输入TokenKey">
                        <input type="password" @keydown.enter="handleDiv($event)" class="form-control" v-model="value" placeholder="请输入TokenValue">
                    </div>  
                    <div class="modal-footer">
                        <button type="button" @click="handleDiv($event)" class="btn btn-primary">确认</button>  
                    </div> 
                </div>  
            </div>  
        </div>
        <h1>随笔列表</h1>
        <h6><a target="_blank" href="/create">编写一篇新随笔?</a></h6>
        <div id="essay_container">
            {{ each list }}
            <div id="essay" @mouseenter="handlerMouseEnter($event, '{{ $value.id }}')" @mouseleave="handlerMouseLeave($event, '{{ $value.id }}')">
                <a target="_blank" href="/essay?id={{ $value.id }}">{{ $value.title }}<span class="pwd">{{ $value.password === "true" ? "[加密]" : ""}}</span></a><br>
                <div class="info" id="info_{{ $value.id }}">
                    <div id="creator">作者: {{ $value.creator }}</div>
                    <div class="date">创建时间: {{ $value.createTime }}</div>
                    <div class="date">最后更新时间: {{ $value.updateTime }}</div>
                </div>
                <div class="tag" id="tag_{{ $value.id }}" ></div>
            </div>
            {{ /each }}
            <div class="clean"></div>
        </div>
        <div id="footer">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a :class="last_page_class" :href="'/essaylist?page=' + (currentpage-1) + '&size=' + size">上一页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">
                        这是第<span v-html="currentpage"></span>页,
                        共<span v-html="pages"></span>页.
                    </a>
                </li>
                <li class="nav-item">
                    <a :class="next_page_class" :href="'/essaylist?page=' + (currentpage+1) + '&size=' + size">下一页</a>
                  </li>
              </ul>
        </div>
        <div id="addition">
            <a target="_blank" href="/friend">留下您的联系方式?</a>
        </div>
    </div>
</body>
</html>