<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/node_modules/jquery/dist/jquery.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript" charset="UTF-8"></script>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" charset="UTF-8"/>
    <script src="/public/js/friend.js" type="text/javascript" charset="UTF-8"></script>
    <link href="/public/css/friend.css" rel="stylesheet" charset="UTF-8"/>
    <title>留下您的联系方式</title>
</head>
<body>
    <div id="main">
        <div id="title"><h1>留下您的联系方式</h1></div>
        <div id="app" class="container">
            <div id="form">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" v-model="username" placeholder="称呼?">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" v-model="telephone" placeholder="手机号?">
                    </div>
                </div>
                <div class="separate"></div>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" v-model="qqid" placeholder="QQ号?">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" v-model="wechatid" placeholder="微信号?">
                    </div>
                </div>
                <div class="separate"></div>
                <div class="form-row">
                    <div class="col">
                        <input type="email" class="form-control" v-model="email" placeholder="邮箱?">
                    </div>
                    <div class="col">
                        <div id="submitDiv"><button type="button" @click="handleSubmit($event)" class="btn btn-primary">提交</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>