<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/node_modules/jquery/dist/jquery.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript" charset="UTF-8"></script>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" charset="UTF-8"/>
    <link href="/public/css/image.css" rel="stylesheet" charset="UTF-8"/>
    <script src="/public/js/image.js" type="text/javascript" charset="UTF-8"></script>
    <title>查看所有图片</title>
</head>
<body>
    <div id="app">
        <div class="modal fade" id="Token" tabindex="-1" role="dialog" aria-labelledby="Token">  
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h4 class="modal-title">请输入Key和Value</h4>  
                    </div>  
                    <div class="modal-body">
                        <input type="text" class="form-control" v-model="key" placeholder="请输入TokenKey">
                        <input type="password" @keydown.enter="handleDeleteImage($event)" class="form-control" v-model="value" placeholder="请输入TokenValue">
                    </div>  
                    <div class="modal-footer">
                        <button type="button" @click="handleDeleteImage($event)" class="btn btn-primary">确认</button>  
                    </div> 
                </div>  
            </div>  
        </div>
        <div class="modal fade" id="Password" tabindex="-1" role="dialog" aria-labelledby="Password">  
            <div class="modal-dialog" role="document">  
                <div class="modal-content">  
                    <div class="modal-header">  
                        <h4 class="modal-title">请输入图片的密码</h4>  
                    </div>  
                    <div class="modal-body">
                        <input type="password" @keydown.enter="handlePwdShow($event)" class="form-control" v-model='password' placeholder="请输入密码">
                    </div>  
                    <div class="modal-footer">
                        <button type="button" @click="handlePwdShow($event)" class="btn btn-primary">确认</button>  
                    </div> 
                </div>  
            </div>  
        </div>
        <div id="delete">
            <button type="button" @click="handleDelete($event)" class="btn btn-primary">删除</button>
        </div>
        <div class="clean"></div>
        <div class="container">
            <div id="header">
                <h1>查看所有图片</h1>
            </div>
            <div id="main">
                <div id="message">
                    <div id="msgTitle"><p>图片的信息</p></div>
                    <div class="msgContent">
                        <div>图片id: <p id="msgContentId"></p></div>
                        <div>图片名称: <p id="msgContentFilename"></p id="msgContentFilename"></div>
                    </div>
                    <div class="msgContent">
                        <div>图片路径: <p id="msgContentPath"></p></div>
                        <div>图片上传时间: <p id="msgContentUploadTime"></p></div>
                    </div>
                    <div class="clean"></div>
                </div>
                <div id="images">
                    {{ each images }}
                    <div class="image"><button @click="handleShowImg($event, '{{ $value.id }}', '{{ $value.password }}')" type="button" class="list-group-item list-group-item-action">{{ $value.filename }} {{ $value.password === 'true' ? '[加密]' : '' }}</button></div>
                    {{ /each }}
                    <div class="clean"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>