<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 导入jq, bs库 -->
    <script src="/node_modules/jquery/dist/jquery.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript" charset="UTF-8"></script>
    <link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" charset="UTF-8"/>
    <link href="/public/css/password_main.css" rel="stylesheet" charset="UTF-8"/>
    <title>该随笔具有密码保护</title>
</head>
<body>
    <div class="container">
        <div id="tips"><h1>该随笔具有密码保护</h1></div>
        <form method="POST" action="/essay">
            <div id="message"><h3>{{ message ? '提示:' + message : ''}}</h3></div>
            <input type="hidden" name="id" value="{{ id }}"/>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="请输入该随笔的密码">
            </div>
            <div class="form-group" id="btn">
                <button type="submit" class="btn btn-primary">查看</button>
            </div>
          </form>
    </div>
</body>
</html>