body {
    background-image: url(/public/images/bh3.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    padding-top: 50px;
    background-color: rgba(102, 204, 255, 0.5);
    padding-bottom: 50px;
}

#title {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    color: #66FFCC;
}

#back {
    padding-top: 50px;
    text-align: center;
    font-size: large;
}

#addComment {
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
}