body {
    background-size:cover;
    background-image: url(/public/image/bh3.jpg);
    background-repeat:no-repeat;
}

#main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    background-color: rgba(102, 204, 255, 0.5);
}

#title {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    color: #66FFCC;
}

#back {
    text-align: center;
    font-size: large;
}

#addComment {
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}