body {
    background-size:cover;
    background-image: url(/public/image/bq.jpg);
    background-repeat:no-repeat;
}

#main {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:rgba(128, 128, 128, 0.5);
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;
}

.content {
    width: 50%;
    float: left;
}

.clean {
    clear: both;
}

#otherMsg {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#title {
    text-align: center;
    color: #66CCFF;
    font-style: italic;
    font-size: xx-large;
}

.form_container {
    float: left;
    width: 50%;
}

#main_container {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#form {
    text-align: center;
}

#write {
    width: 90%;
    height: 800px;
    margin-right: 5%;
    overflow:auto;
}

#show {
    background-color: white;
    width: 95%;
    height: 800px;
    margin-left: 5%;
    overflow:auto;
}

.tips {
    text-align: center; 
    font-style: italic;
    color: #66CCFF;
}

.btn_div {
    width: 50%;
    float: left;
    text-align: center;
    align-items: center;
}

#bottom {
    padding-bottom: 5px;
}

#footer {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 20px;
}

#upload {
    text-align: center;
    font-size: x-large;
}