body {
    background-image: url(/public/images/tong.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#app {
    background-color: #66CCFF50;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#top {
    text-align: center;
}

#top h1 {
    padding-top: 30px;
    color: gray;
}

#main_container {
    padding-bottom: 100px;    
    padding-top: 100px;
}

#left {
    float: left;
    width: 30%;
    background-color: #66FFCC30;
}

#left h3 {
    text-align: center;
}

#main {
    float: right;
    width: 60%;
    background-color: #66FFCC30;
    margin-left: 10%;
}

#main h3 {
    text-align: center;
}

#msg {
    text-align: center;
    color: indigo;
    font-size: medium;
    padding-bottom: 15px;
}

#footer {
    padding-bottom: 30px;
}

.clean {
    clear: both;
}