body {
    background-image: url(/public/images/sz.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#tips{
    text-align: center; 
    margin-top: 10%; 
    color: #66CCFF;
}

form {
    margin-top: 15%;
}

#message {
    color: red; 
    text-align: center;
}

#btn {
    text-align: center; 
    margin-top: 5%;
}

#ibtn {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    background-color: lightblue;
}