body {
    background-size: cover; 
    background-image: url(/public/image/sz.jpg); 
    background-repeat:no-repeat;
}

#tips{
    text-align: center; 
    margin-top: 10%; 
    color: #66CCFF;
}

form {
    margin-top: 15%;
}

#message {
    color: red; 
    text-align: center;
}

#btn {
    text-align: center; 
    margin-top: 5%;
}