body {
    background-image: url(/public/images/tong.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
#main {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

#title {
    font-size: xx-large;
    text-align: center;
    font-style: italic;
    color: #66CCFF;
}

table {
    background-color:rgba(128, 128, 128, 0.5);
}